<%- include('../partials/head'); -%>

    <div class="card bg-light my-4 mx-auto" style="max-width: 50rem">
        <div class="card-header h2">
            Bienvenue !
        </div>
        <div class="card-body">
            Allerg'aime est un restaurant respectueux de vos allergies.
            <br>
            <strong>La page du menu est en construction</strong> ; mais vous pourrez bientôt le consulter et commandez votre repas idéal !
        </div>
    </div>

<%- include('../partials/footer'); -%>